* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* header {
  margin-bottom: 3px;
  border: 1px solid transparent;
  background-color: aqua;
  height: 300px;
  line-height: 240px;
}
header h1,
h2 {
  text-align: center;
  width: 100%;
  
}
h2 {
  margin-top: -210px;
} */

header {
  background-color: darkslategray;
  height: 150px;
}
footer {
  background-color: darkslategray;
  color: aliceblue;
  height: 50px;
  text-align: center;
}
h1,
h2 {
  margin: 0px;
  padding-top: 45px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: aliceblue;
}
h2 {
  margin: -40px;
}
main,
section {
  border: 1px solid darkslategray;
  padding: 10px;
}
article {
  padding: 10px;
  margin: 10px;
  background-color: darkslategray;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
}
